<nav class="navbar navbar-default navbar-static-top" role="navigation"></nav>

<div id="container">
	<h1 class="intro">To Do List</h1>
	<h4>&nbsp;
		<span class="label label-danger">
			<span><span class="countTasks">count</span>
				<span>&nbsp;
					<span class="glyphicon glyphicon-star"></span>
				</span>
			</span>
		</span>
		&nbsp;
		<span class="label label-primary" style="cursor:pointer;" id="showFormButton">
			Add Task
		</span>
	</h4>
	
	<div class="formView"></div>
	<div class="tableView"></div>
		
</div>