	<!-- Form to collect new tasks -->
	<form id="addTasksForm" role="form" class="form-horizontal">
					
		<div class="form-group">
			<label for="inputTask" class="col-lg-2 col-xs-2 control-label">Task</label>
			<div class="col-lg-6 col-xs-6">
				<input type="text" name="taskname" class="form-control taskname" id="inputTask" placeholder="Enter a new task..." value="" >
			</div>
		</div>
		
		<div class="form-group">
			<div class="col-lg-offset-2 col-lg-10">
				<button type="submit" class="btn btn-primary">Add Task</button>
				<button type="button" class="btn btn-danger closeForm pull-right">Close</button>
			</div>
	  </div>
		
	</form>
	